%style
  :sass
    .battlefield {
      border: 3px solid red;
      background: green;
      td {
        height: 20px;
        width: 20px;
        color: #003300;
        img { height: 20px; width: 20px; }
      }
    }

.battlefield
  Loading...

%script
  var bots = ["#{@bot_names.join("\", \"")}"];
  BattleBots.fight(bots);
