%style
  :sass
    .battlefield {
      border: 3px solid red;
      background: green;
      position: relative;
      margin-top: 50px;
      height: 500px;
      width: 500px;
      .wreck {
        box-shadow: 0px 0px 20px #933;
        img {
          box-shadow: 0px 0px 5px #ff3;

        }
      }
    }

.battlefield
  &nbsp;
%script
  var bots = ["#{@bot_names.join("\", \"")}"];
  BattleBots.fight(bots);
