%h2 Begin
%form{:action=>"/update_bots", :method=>:post}
  %input{:type=>:submit, :value=>"Reload bots from github"}

%form{:method=>:post}
  %label Bot 1
  %select{:name=>'bot[]'}
    - @bots.each do |bot|
      %option{:name=>bot.name, :value=>bot.name}= bot.name.titleize

  %label Bot 2
  %select{:name=>'bot[]'}
    - @bots.each do |bot|
      %option{:name=>bot.name, :value=>bot.name}= bot.name.titleize

  %input{:type=>:submit, :value=>"FIGHT!"}
